.custom-centered {
  margin: 0 auto;
  width: 100%;
}
h1 {
  color: #d06224;
}

.container {
  padding: 15px !important;
  padding-bottom: 0px !important;
  height: 100%;
}

.navbar {
  background-color: #d06224;
}
* {
  box-sizing: border-box;
}
.brand-name {
  font-size: 1.5em;
}

.row {
  height: auto;
  margin: auto;
}
.form_group {
  display: flex;
  border-radius: 10px;
  border: 2px solid #d06224 !important;
  background-color: #e8c07d;
  justify-content: center;
  width: 100%;
}

form {
  display: flex;
  width: 100%;
}

#cardDiv {
  margin: 5%;
  background-color: #d06224 !important;
  border-radius: 10px;
}

.bg2 {
  background-color: #d06224 !important;
  border: 2px solid #d06224 !important;
  border-radius: 15px;
  padding-right: 50px !important;
  padding-left: 50px !important;
}

#searchBox {
  flex-grow: 2;
  background-color: white !important;
  border-radius: 10px;
  box-shadow: none;
  border: 1px solid #f1f2f2;
  padding-left: 15px;
  padding: 6px 12px;
  font-size: 14px;
  margin: 10px;
  border: 2px solid #d06224 !important;
  height: 2.5rem;
}

.form_input {
  flex: 1;
  border-radius: 10px;
  box-shadow: none;
  border: 1px solid #f1f2f2;
  padding-left: 15px;
  padding: 6px 12px;
  font-size: 14px;
  margin: 10px;
}
.btn-primary {
  margin: 10px;
  background-color: #d06224 !important;
  border: 2px solid #d06224 !important;
  border-radius: 10px;
  color: #e8c07d !important;
}
.btn-primary:hover {
  color: #e8c07d !important;
  border: 2px solid #e8c07d !important;
}

.infodiv {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 1em;
  background-color: #d06224;
  border-radius: 10px;
}
.data {
  display: flex;
  justify-content: left;
  flex: 1;
  box-shadow: none;
  height: 40px;
  font-size: 14px;
  margin: 0px;
  color: #d06224;
}
.data > div:nth-child(1) {
  background-color: #e8c07d;
  margin: 2px;
  line-height: 50px;
  text-align: center;
  align-items: center;
  font-size: 18px;
  width: 30%;
  min-width: 100px;
  border: 2px solid #d06224;
  border-radius: 15px;
}

.data > div:nth-child(2),
.data > a {
  background-color: #e8c07d;
  margin: 2px;
  line-height: 50px;
  padding-left: 20px;
  text-align: left;
  font-size: 18px;
  width: 100%;
  min-width: 100px;
  height: auto;
  border: 2px solid #d06224;
  border-radius: 15px;
}

.value {
  flex-grow: 5;
}
#address {
  height: 100%;
}

#nameValue {
  line-height: normal;
  padding-top: 12px;
}

#addressValue {
  line-height: normal;
}

#urlValue {
  color: #d06224;
}
#urlValue > a {
  color: #d06224;
}
#urlValue > a:hover {
  color: blue;
}
